<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Upload any news">
  <meta name="author" content="upload any news">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login/Regiser</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        .login--wrapper {
            display: flex;
            align-items: center;
            height: 80vh;
            justify-content: center;
        }

        .form {
            width: 500px;
        }
    </style>
</head>

<center>
    <div class="jumbotron text-center">
    <body>
    ENTER NAME : <input type="text" placeholder="first name">
    <br>
    ENTER- EMAIL : <input type="email" placeholder="enter mail">
    <br>
    ENTER - PASSWORD : <input type="password" placeholder="enter password">
    <br>
    CONFIRM - PASSWORD : <input type="password" placeholder="enter same password">
    <br>
    <mark>click the below button to submit your data</mark>
    <br>
   <button> <a href="{% url 'mm_new' %}"><b style="font-size: larger;">CLICK HERE,to LOG-IN</b> </button></a>
    </div>
</center>
</body>
</html>